<section>
    <mat-form-field appearance="fill">
        <span>Votre Prénom</span>
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <span>Message</span>
        <mat-label>Message</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <a mat-button href="mailto: romain.lagarce@outlook.com" target="_blank"><button mat-button>contact me</button></a>
</section>