button {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    border: 4px double #000000;
    color: #000000;
    text-align: center;
    width: 120px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    right: -10px;
  }