<div class="corp">
    <h2>{{pres.name}}</h2>
    <h4>
        <div><span>Age: </span>{{pres.age}}<span> ans</span></div>
        <div><span>Telephone: </span>{{pres.num}}</div>
        <div><span>Mail: </span>{{pres.mail}}</div>
        <div><span>Adresse: </span>{{pres.adresse}}</div>
    </h4>
    <app-resume></app-resume>
    <app-contact-me></app-contact-me>
    <ul>
        <li *ngFor="let item of items; let index = index;">
            <span>Formation :</span>
            <span>{{ item.formation }}</span>
            <br>
            <span>Lieu de formation :</span>
            <span>{{ item.lieu }}</span>
            <br>
            <span>Temps de formation :</span>
            <span>{{ item.temps_formation }}</span>
            <br>
            <span>Date de la formation :</span>
            <span>{{ item.date }}</span>
            <br>
            <br>
        </li>
    </ul>
    
    <ul>
        <li *ngFor="let book of Booklist; let index = index;">
            <span>Experiance :</span>
            <span>{{ book.experiance }}</span>
            <br>
            <span>Lieu de formation :</span>
            <span>{{ book.lieu }}</span>
            <br>
            <span>Temps de formation :</span>
            <span>{{ book.temps_experiance }}</span>
            <br>
            <span>Date de la formation :</span>
            <span>{{ book.date }}</span>
            <br>
            <br>
        </li>
    </ul>
    
    <ul>
        <span>Loisir :</span>
        <li *ngFor="let hobbit of hobbits; let index = index; let isFirst = first; let isOdd = odd;">
            <span>{{ hobbit.loisir }}</span>
            <br>
        </li>
    </ul>
    </div>
    